.header.m-b-30
  .wrapper
    .justify-between.m-b-20
      .logo logo
      |phone
    .menu
      -
        var menu = [
          {
            title: 'главная'
          },
          {
            title: 'главная'
          },
          {
            title: 'главная'
          },
          {
            title: 'главная'
          },
          {
            title: 'главная'
          },
          {
            title: 'главная'
          },
          {
            title: 'главная'
          },
          {
            title: 'главная'
          }
        ];
      +listMenu(menu, 'main')